<html>
<head>
    <meta charset="UTF-8">
    <title>Rafa WebPage</title>
</head>
<body>
    <h1>Rafa WebPage</h1>
    {% block content %}
    {% endblock content %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>