{% extends "index.html" %}


{% block content %}
    <div ng-app="toDo" ng-controller="toDoController">
        <form ng-submit="todoAdd()">
             <input type="text" ng-model="todoInput" placeholder="Add a new to do...">
             <button type="submit" ng-click="saveData()">Submit</button>
        </form>
        <br>
        <div ng-repeat="todo in todoList">
            <input type="checkbox" ng-model="todo.done"><span ng-bind="todo.description"></span>
        </div>
        <p>
            <button ng-click="remove()">Done</button>
        </p>
    </div>
{% endblock content %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'js/todo.js' %}"></script>
{% endblock scripts %}